@charset "UTF-8";

* {
    padding: 0px;
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    display: flex; 
    flex-direction: column; 
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;
    background-color: #f0f0f0;
}

h1 {
    margin-bottom: 20px;
}

div.qmaior {
    display: grid;
    grid-template-columns: repeat(3, 100px);
    grid-template-rows: repeat(3, 100px);
}

div.quadrante {
    width: 100px;
    height: 100px;
    border: 2px solid #000;
    background-color: #fff;
    font-size: 24px;
    cursor: pointer;
}

#restart {
    margin-top: 20px;
    padding: 10px;
    cursor: pointer;
    font-size: 16px;
    border-radius: 10px;
    transition: background-color 0.3s ease, color 0.3s ease;
}

#restart:hover {
    background-color: rgb(236, 235, 235);
    color: rgb(247, 44, 37);
}